{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.game_no.label }}
            {{ form.game_no }}
	    {% if form.game_no.errors %}
            
            <div class="error">
                
		{% for error in form.game_no.errors %}
                    
                    <span>{{ error }}</span>
                
                {% endfor %}
            </div>
        
            {% endif %}
            <br>
            {{ form.losing_team.label }}
            {{ form.losing_team }}
            <br>
            {{ form.winning_team.label }}
            {{ form.winning_team }}
            <br>
            {{ form.score.label }}
            {{ form.score }}
            <br>
            {{ form.submit }}
        </form>
    </div>
{% endblock %}
