{% extends "layout.html" %}
{% block body_content %}
    <h1>Game Table</h1>
    <p>Current Game League</p>
    <p1> Use the Navbar to acess the login page and start creating a game!</p1>
	<style>
	table, th, td {
		border: 1px solid black;
	}
	</style>

    
    {% for game in game %}
    
    	<div>
		<table style="width:100%">
			<tr>
				<th>Game Number</th>
				<th>Winning Team</th>
				<th>Losing Team</th>
				<th>Score</th>
			</tr>
			<tr>
            
				<td>{{ game.game_no }}</td>
	    			<td>{{ game.winning_team }}</td>
	    			<td>{{ game.losing_team }}</td>
	    			<td>{{ game.score }}</td>
			</tr>
		</table>
		<form method="POST" action="/game/update">
    		<input type="hidden" value="{{game.score}}" name="oldscore">
    		<input type="text" value="{{game.score}}" name="newscore">
    		<input type="submit" value="Update">
  		</form>

		<a href="{{ url_for('deleteGame', toDelete = game.game_no) }}">Delete</a>
	</div>
    {% endfor %}
{% endblock body_content %}
~

